#
# pub
#
.dart_tool/
.packages
build/
flutter*.log
tests
.flutter-plugins*
analysis-options.yaml

#
# vscode
#
extensions/vscode/node_modules/
extensions/vscode/.vscode-test
extensions/vscode/out
extensions/vscode/dist
